@charset "UTF-8";

/*
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d0e
*/

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
     --cor0: #83e1ad;
     --cor1: #3ddc84;
     --cor2: #2fa866;
     --cor3: #1a5c37;
     --cor4: #063d0e;

     --font-padrao: arial, verdana, helverita;
     --font-especial: 'android', arial;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #537e66a2;
    font-family: var(--font-padrao);

}

header > h1 {
    color: white;
    font-family: var(--font-especial);

}

header > p {
    color: white;
}

nav {
    background-color: var(--cor4);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main  h1 {
    color:var(--cor1) ;
    font-family: var(--font-especial);

}

main h2 {
    font-family: var(--font-especial);

}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor4);
    color: white;
}