@charset "UTF-8";

/*
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d0e
*/

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
     --cor0: #83e1ad;
     --cor1: #3ddc84;
     --cor2: #2fa866;
     --cor3: #1a5c37;
     --cor4: #063d0e;

     --font-padrao: arial, verdana, helverita;
     --font-especial: 'android', arial;

}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #537e66a2;
    font-family: var(--font-padrao);
}



header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
    background-color: var(--cor3);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-especial);
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 3em;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.034);

}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-right: 10px;
    margin: auto;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main  h1 {
    color:var(--cor1) ;
    font-family: var(--font-especial);
    font-weight: normal;

}

main h2 {
    font-family: var(--font-especial);
    color: var(--cor2);
    font-weight: normal;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;

}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 0px 2px 0px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.164);
}

aside > ul {
    list-style-type: circle, 00a0;
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;

}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}


footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor0);

}